# Ignore environment variables
.env
config.py

# Ignore logs
logs/

# Ignore Pi migration dump batch and dumpfile
mysqlDump/

# Ignore Python bytecode


# Optional: ignore local database files or editor configs
#Ignore Other
.venv/

#sql
*.sql
*.sql.gz
